/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Nền trang */
body {
  background: url('https://raw.githubusercontent.com/Hoangthingoc216/web/refs/heads/main/image/background-login.jpg') ;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  padding: 50px;
  justify-content: center;
}

/* Hộp đăng nhập */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  width: 380px;
  text-align: center;
  backdrop-filter: blur(6px);
}

/* Tiêu đề */
.login-box h2 {
  color: #2575fc;
  margin-bottom: 10px;
  font-size: 28px;
}

.login-box h3 {
  margin-bottom: 25px;
  color: #555;
  font-size: 18px;
  letter-spacing: 1px;
}

/* Input */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 10px 40px 10px 35px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

.input-group input:focus {
  border-color: #2575fc;
}

.toggle-password {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Nút đăng nhập */
.btn-login {
  background: #2575fc;
  color: white;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-login:hover {
  background: #6a11cb;
}

/* Liên kết */
.forgot {
  display: block;
  text-align: right;
  margin-bottom: 15px;
  color: #2575fc;
  font-size: 14px;
  text-decoration: none;
}

.register-link {
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  color: #2575fc;
  text-decoration: none;
  font-weight: bold;
}
